In [1]:
from finance_model.chart_of_accounts import ChartOfAccounts, unpickle_accounts
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pickle

In [2]:
accounts = unpickle_accounts()
# accounts = ChartOfAccounts()

Total duration for function <unpickle_accounts> is 0.0007958000060170889

In [3]:
accounts.account_mapping

,low,high,bs_is,category,sub_category,sub_account
0,11000,11599,bs,assets,current assets,cash and equivelents
1,11600,13000,bs,assets,current assets,accounts receivable
2,14700,16000,bs,assets,property and equiptment,property and equiptment
3,17500,19999,bs,assets,other assets,other assets
4,20000,20200,bs,Liabilities,current liabilities,accounts payable
5,20300,20399,bs,Liabilities,current liabilities,accrued expenses
6,20400,20999,bs,Liabilities,current liabilities,other current liabilities
7,21000,21999,bs,Liabilities,long term liabilities,accrued Expenses
8,22000,24999,bs,Liabilities,long term liabilities,other long term liabilities
9,27000,28999,bs,equity,equity,equity
10,30000,31199,is,revenue,contract,contract
11,34000,40999,is,revenue,other revenue,other revenue
12,41000,48000,is,cost of goods sold,cost of goods sold,cost of goods sold
13,50000,55000,is,operating expenses,Fringe,Fringe
14,60000,69000,is,operating expenses,Service Center,Service Center
15,70000,79999,is,operating expenses,Overhead,Overhead
16,80000,89999,is,operating expenses,G&A,G&A
17,90000,95999,is,other expenses,Unallowable,Unallowable

In [6]:
data, label, sub_data_names = accounts.get_data_to_plot('sub_account', 'cash and equivelents', 'account')

get_data_to_plot sub_account

In [7]:
data

account,"Cash on Hand, Petty Cash",PNC Money Market,PNC Operating,PNC Payroll,Wells Fargo Bank
2017-01-31,100.0,0.0,206481.42,359.08,96544.28
2017-02-28,100.0,0.0,593226.37,186.51,1235.53
2017-03-31,100.0,0.0,519427.85,283.56,1235.53
2017-04-30,100.0,0.0,614920.67,88.73,1235.53
2017-05-31,100.0,0.0,634201.97,110.36,1235.53
...,...,...,...,...,...
2023-01-31,100.0,0.0,737289.83,1207.69,0.00
2023-02-28,100.0,0.0,1238993.67,1817.49,0.00
2023-03-31,100.0,0.0,1089580.81,1833.92,0.00
2023-04-30,100.0,0.0,1367670.96,2953.41,0.00
2023-05-31,100.0,0.0,1312552.22,2347.36,0.00

In [0]:
label

In [9]:
sub_data_names

['Cash on Hand, Petty Cash',
 'PNC Money Market',
 'PNC Operating',
 'PNC Payroll',
 'Wells Fargo Bank']

In [ ]:
import matplotlib.dates as mdates
from matplotlib import ticker

width = 0.8

fig, ax = plt.subplots()
# ax.xaxis.set_major_locator(mdates.MonthLocator())
# ax.xaxis.set_major_formatter(mdates.DateFormatter('%m'))
ax.xaxis.set_major_locator(ticker.MultipleLocator(3))
bottom = np.zeros(len(data.index))

date_axis = [mdates.datestr2num(dt[:-3]) for dt in data.index]
date_axis = [pd.to_datetime(dt).strftime('%m-%y') for dt in data.index]
data.set_axis(date_axis)

p = ax.bar(date_axis, data.iloc[:,0], width, label="sex", bottom=bottom)

In [ ]:
data
col
# mdates.datestr2num(data.index[0])
# date_axis = [mdates.date2num(dt) for dt in data.index]
# data.iloc[:,0]

In [ ]:
species = ('Adelie', 'Chinstrap', 'Gentoo')
sex_counts = {
    'Male': np.array([73, 34, 61]),
    'Female': np.array([73, 34, 58]),
}
width = 0.6  # the width of the bars: can also be len(x) sequence


fig, ax = plt.subplots()
bottom = np.zeros(3)

for sex, sex_count in sex_counts.items():
    p = ax.bar(species, sex_count, width, label=sex, bottom=bottom)
    bottom += sex_count

    ax.bar_label(p, label_type='center')

ax.set_title('Number of penguins by sex')
ax.legend()

plt.show()

In [ ]:
data.index[0][:-3]

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

plt.style.use('ggplot')

datelist = pd.date_range('2000-01-01', periods=20,freq='Q')

bar_series = ['series0', 'series1', 'series2']
values = np.random.randn(20, 3)

df = pd.DataFrame(values,index=datelist,columns=bar_series)

fig = plt.figure(figsize=(10,10))
ax1 = fig.add_subplot(111)

import matplotlib.dates as mdates

ax1.xaxis.set_major_locator(mdates.YearLocator())
ax1.xaxis.set_major_formatter(mdates.DateFormatter('%Y'))

p1 = plt.bar(df.index, df['series0'], width = 50 )
p2 = plt.bar(df.index, df['series1'], width = 50 )
p3 = plt.bar(df.index, df['series2'], width = 50 )

plt.legend((p1[0], p2[0], p3[0]), ('series0', 'series1', 'series2'))

plt.show()

In [ ]:
df

In [ ]:
accounts.account_mapping