In [1]:
from finance_model.chart_of_accounts import ChartOfAccounts, unpickle_accounts
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pickle

In [2]:
pickle = True

if pickle:
    accounts = unpickle_accounts()
else:
    accounts = ChartOfAccounts()
    accounts.account_mapping
    accounts.trial_balances

Total duration for function <unpickle_accounts> is 0.006485600024461746

In [3]:
accounts.account_mapping
accounts.accounts[40010]
a = accounts.get_account_mapping(40010)
accounts.detailed_account_mapping

,account_no,bs_is,category,sub_category,sub_account,account
0,11040,bs,assets,current assets,cash and equivelents,PNC Operating
1,11050,bs,assets,current assets,cash and equivelents,PNC Payroll
2,11060,bs,assets,current assets,cash and equivelents,PNC Money Market
3,11100,bs,assets,current assets,cash and equivelents,Wells Fargo Bank
4,11500,bs,assets,current assets,cash and equivelents,"Cash on Hand, Petty Cash"
...,...,...,...,...,...,...
114,91000,is,other expenses,Unallowable,Unallowable,Interest Expense
115,91500,is,other expenses,Unallowable,Unallowable,Contributions
116,91700,is,other expenses,Unallowable,Unallowable,Officer Insurance
117,94000,is,other expenses,Unallowable,Unallowable,Personal Property Taxes
118,95000,is,other expenses,Unallowable,Unallowable,Misc. Unallowable Expense

# Revenue Calculations

In [4]:
data, label, sub_data_names = accounts.get_data_to_plot('bs_is', 'is', 'category', yearly=True)
gross_profit = data['revenue'] + data['cost of goods sold']
net_profit = gross_profit + data['operating expenses'] + data['other expenses']

revenue = data['revenue']
revenue
# revenue[6] * 12 / 7

get_data_to_plot bs_is
level = bs_is
Total duration for function <get_data_to_plot> is 0.007697400000324706

2017-12-31   -7652539.23
2018-12-31   -7742140.86
2019-12-31   -8539304.75
2020-12-31   -8348033.51
2021-12-31   -7731340.50
2022-12-31   -9089565.49
2023-08-31   -6926625.16
Name: revenue, dtype: float64

# Margin Calculations

In [5]:

net_margin = net_profit / revenue
net_margin.name = 'net margin'
gross_margin = gross_profit / revenue
gross_margin.name = 'gross margin'

margins = pd.concat([gross_margin,net_margin], axis=1)
margins

            gross margin  net margin
2017-12-31      0.447866    0.144987
2018-12-31      0.437323    0.128829
2019-12-31      0.438476    0.145744
2020-12-31      0.530915    0.229212
2021-12-31      0.554046    0.328672
2022-12-31      0.423909    0.127389
2023-08-31      0.370551    0.146273

# Working Capital Calculations

In [6]:
asset_data, asset_label, sub_data_names = accounts.get_data_to_plot('category', 'assets', 'sub_category', yearly=True)
liability_data, liability_label, sub_data_names = accounts.get_data_to_plot('category', 'Liabilities', 'sub_category', yearly=True)
al_data = pd.concat([asset_data, liability_data], axis=1)
working_capital = al_data['current assets'] + al_data['current liabilities']
working_capital.name = 'working capital'
working_capital

get_data_to_plot category
level = category
Total duration for function <get_data_to_plot> is 0.0042644999994081445
get_data_to_plot category
level = category
Total duration for function <get_data_to_plot> is 0.0038615999983449

2017-12-31     857188.95
2018-12-31     891826.01
2019-12-31     955708.76
2020-12-31    1316386.80
2021-12-31    1364727.30
2022-12-31    1559463.42
2023-08-31    1845427.33
Name: working capital, dtype: float64

In [7]:
asset_data
data

category    cost of goods sold  operating expenses  other expenses     revenue
2017-12-31          4225229.11          2311968.51         5824.66 -7652539.23
2018-12-31          4356327.82          2380507.70         7895.31 -7742140.86
2019-12-31          4795027.36          2496942.19         2783.51 -8539304.75
2020-12-31          3915939.74          2511344.51         7278.73 -8348033.51
2021-12-31          3447824.77          1737638.27         4805.94 -7731340.50
2022-12-31          5236419.23          2689231.92         6002.26 -9089565.49
2023-08-31          4359960.12          1549829.80         3658.75 -6926625.16

In [8]:
current_asset_data, ca_label, ca_sub_data = accounts.get_data_to_plot('sub_category', 'current assets', 'sub_account', yearly=True)
current_asset_data

get_data_to_plot sub_category
level = sub_category
Total duration for function <get_data_to_plot> is 0.004363399999419926

sub_account  accounts receivable  cash and equivelents
2017-12-31             770380.01             107653.80
2018-12-31             788147.24             134899.03
2019-12-31            1006943.41                129.99
2020-12-31            1238718.48              95379.17
2021-12-31            1173292.39             198625.61
2022-12-31            1533534.57              27366.99
2023-08-31             942201.02            1330936.53

In [ ]:
working_capital - current_asset_data['cash and equivelents']

## Getting Working Capital Info for Export

In [ ]:
categories = ["current assets", "other assets", "property and equiptment", "accounts payable", "current liabilities", "long term liabilities"]
data = accounts.get_data_rows('sub_category', categories, yearly=True)
data

In [ ]:
data.to_csv('working capital.csv')

In [ ]:
accounts.detailed_account_mapping

In [ ]:
data['cost of goods sold'] / data['revenue']

In [ ]:
accounts.trial_balances[70100]

# Discresionary Expenses

In [ ]:
dis_oh  = accounts.get_data_to_plot('sub_account', 'Overhead', 'account', yearly=True)[0]

dis_oh[['Travel, Not job related', 'Meals & Entertainment']]


# accounts.accounts

In [ ]:
dis_unallowable  = accounts.get_data_to_plot('sub_account', 'Unallowable', 'account', yearly=True)[0]
dis_unallowable

In [ ]:
nonrecurring  = accounts.get_data_to_plot('sub_account', 'other revenue', 'account', yearly=True)[0]
nonrecurring
# accounts.accounts
# accounts.trial_balances

# Calculations

In [ ]:
accounts.account_mapping

In [ ]:
accounts.account_mapping.columns.to_list()[2:]

In [ ]:
rev_data, label, sub_data_names = accounts.get_data_to_plot('sub_account', 'contract', 'account', yearly=True)

In [ ]:
rev_data = rev_data.T * -1

rev_data

In [ ]:
rev_data.to_excel("documents/revenue by contracts.xlsx")

In [ ]:
sub_data_names

In [ ]:
exp_data, label, sub_data_names = accounts.get_data_to_plot('category', 'operating expenses', 'account', yearly=True)

In [ ]:
exp_data

In [ ]:
exp_data['PTO']

In [ ]:
salaries = ['Bonus Expense', 'Direct  Overhead Labor', 'Gen. & Admin Labor']
exp_data.loc[:, salaries].sum(axis=1)

In [ ]:
fin_map = pd.read_excel('documents/finance map.xlsx')
benefit_bool = fin_map['bank cat'] == 'Employee Benefits'
wage_bool = fin_map['bank cat'] == 'Salaries & Wages'

In [ ]:
wage = fin_map.loc[wage_bool, 'trial balance'].to_list()
exp_data.loc[:, wage].T

In [ ]:
benefit = fin_map.loc[benefit_bool, 'trial balance'].to_list()
exp_data.loc[:, benefit].T

In [ ]:
fica = exp_data['FICA & Med. Withholding']

In [ ]:
fica / revenue

In [ ]:
cogs_data, label, sub_data_names = accounts.get_data_to_plot('sub_account', 'cost of goods sold', 'account', yearly=True)

In [ ]:
cogs_data.T

In [ ]:
revenue

# Trial Balance Read Code

In [ ]:
from finance_model.read_trial_balances import read_trial_balance, clean_trial_balance

file_name = 'HazTrain TB.2023 by month GENAESIS Confidential.xlsx'
path = f'documents\\trial_balances\\{file_name}'
xls = pd.ExcelFile(path)
year = 2023
month = 5

jun23 = read_trial_balance(xls, year, month)

In [ ]:
jun23

In [ ]:
clean_trial_balance(jun23)

In [ ]:
jun23

In [ ]:
jun23[[0]]

In [ ]:
xls.close()

In [ ]:
0 in jun23.index