In [1]:
from finance_model.chart_of_accounts import ChartOfAccounts, unpickle_accounts
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pickle

In [2]:
pickle = True

if pickle:
    accounts = unpickle_accounts()
else:
    accounts = ChartOfAccounts()
    accounts.account_mapping
    accounts.trial_balances

Total duration for function <unpickle_accounts> is 0.0008492000051774085

# Revenue Calculations

In [3]:
data, label, sub_data_names = accounts.get_data_to_plot('bs_is', 'is', 'category', yearly=True)
gross_profit = data['revenue'] + data['cost of goods sold']
net_profit = gross_profit + data['operating expenses'] + data['other expenses']

revenue = data['revenue']
revenue
# revenue[6] * 12 / 7

get_data_to_plot bs_is
level = bs_is
Total duration for function <get_data_to_plot> is 0.004369400005089119

2017-12-31   -7652539.23
2018-12-31   -7742140.86
2019-12-31   -8539304.75
2020-12-31   -8348033.51
2021-12-31   -7731340.50
2022-12-31   -9089565.49
2023-07-31   -6159104.58
Name: revenue, dtype: float64

# Margin Calculations

In [4]:

net_margin = net_profit / revenue
net_margin.name = 'net margin'
gross_margin = gross_profit / revenue
gross_margin.name = 'gross margin'

margins = pd.concat([gross_margin,net_margin], axis=1)
margins

            gross margin  net margin
2017-12-31      0.447866    0.144987
2018-12-31      0.437323    0.128829
2019-12-31      0.438476    0.145744
2020-12-31      0.530915    0.229212
2021-12-31      0.554046    0.328672
2022-12-31      0.423909    0.127389
2023-07-31      0.367076    0.143514

# Working Capital Calculations

In [5]:
asset_data, asset_label, sub_data_names = accounts.get_data_to_plot('category', 'assets', 'sub_category', yearly=True)
liability_data, liability_label, sub_data_names = accounts.get_data_to_plot('category', 'Liabilities', 'sub_category', yearly=True)
al_data = pd.concat([asset_data, liability_data], axis=1)
working_capital = al_data['current assets'] + al_data['current liabilities']
working_capital.name = 'working capital'
working_capital

get_data_to_plot category
level = category
Total duration for function <get_data_to_plot> is 0.004253999999491498
get_data_to_plot category
level = category
Total duration for function <get_data_to_plot> is 0.002891700016334653

2017-12-31     857188.95
2018-12-31     891826.01
2019-12-31     955708.76
2020-12-31    1316386.80
2021-12-31    1364727.30
2022-12-31    1559463.42
2023-07-31    1726883.58
Name: working capital, dtype: float64

In [6]:
asset_data

sub_category  current assets  other assets  property and equiptment
2017-12-31         878033.81       9212.68                 85370.72
2018-12-31         923046.27        106.36                 80191.72
2019-12-31        1007073.40        348.00                 51608.92
2020-12-31        1334097.65        232.00                 39269.74
2021-12-31        1371918.00        116.00                123453.67
2022-12-31        1560901.56        377.00                 91355.58
2023-07-31        2117476.37        377.00                 89660.25

In [7]:
current_asset_data, ca_label, ca_sub_data = accounts.get_data_to_plot('sub_category', 'current assets', 'sub_account', yearly=True)
current_asset_data

get_data_to_plot sub_category
level = sub_category
Total duration for function <get_data_to_plot> is 0.004209499980788678

sub_account  accounts receivable  cash and equivelents
2017-12-31             770380.01             107653.80
2018-12-31             788147.24             134899.03
2019-12-31            1006943.41                129.99
2020-12-31            1238718.48              95379.17
2021-12-31            1173292.39             198625.61
2022-12-31            1533534.57              27366.99
2023-07-31            1316834.43             800641.94

In [8]:
working_capital - current_asset_data['cash and equivelents']

2017-12-31     749535.15
2018-12-31     756926.98
2019-12-31     955578.77
2020-12-31    1221007.63
2021-12-31    1166101.69
2022-12-31    1532096.43
2023-07-31     926241.64
dtype: float64

## Getting Working Capital Info for Export

In [13]:
categories = ["current assets", "other assets", "property and equiptment", "accounts payable", "current liabilities", "long term liabilities"]
data = accounts.get_data_rows('sub_category', categories, yearly=True)
data

,bs_is,category,sub_category,sub_account,account,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-12-31,2022-12-31,2023-07-31
account_no,,,,,,,,,,,,
11040,bs,assets,current assets,cash and equivelents,PNC Operating,106161.11,132985.04,0.00,91887.83,195671.37,27065.96,799700.97
11050,bs,assets,current assets,cash and equivelents,PNC Payroll,157.16,578.46,34.70,3354.75,2827.51,201.03,840.97
11060,bs,assets,current assets,cash and equivelents,PNC Money Market,0.00,0.00,0.00,9.86,0.00,0.00,0.00
11100,bs,assets,current assets,cash and equivelents,Wells Fargo Bank,1235.53,1235.53,0.00,0.00,0.00,0.00,0.00
11500,bs,assets,current assets,cash and equivelents,"Cash on Hand, Petty Cash",100.00,100.00,95.29,126.73,126.73,100.00,100.00
11600,bs,assets,current assets,accounts receivable,"Accounts Receivable, Other",0.00,0.00,10129.24,0.00,0.00,0.00,0.00
12000,bs,assets,current assets,accounts receivable,Accounts Receivable,768095.81,783485.54,993525.97,1238718.48,1173292.39,1533534.57,1316834.43
12050,bs,assets,current assets,accounts receivable,"Accounts Receivable, Employees",2284.20,4661.70,3288.20,0.00,0.00,0.00,0.00
12500,bs,assets,current assets,accounts receivable,Deposits & Prepaid A/R,0.00,0.00,0.00,0.00,0.00,0.00,0.00
14700,bs,assets,property and equiptment,property and equiptment,Furniture & Fixtures,13100.00,13100.00,13100.00,13100.00,13100.00,13100.00,13100.00
15000,bs,assets,property and equiptment,property and equiptment,Machinery & Equipment,107787.00,107787.00,107787.00,107787.00,111809.70,111809.70,111809.70
15200,bs,assets,property and equiptment,property and equiptment,Building,43496.00,43496.00,43496.00,43496.00,43496.00,43496.00,43496.00
15700,bs,assets,property and equiptment,property and equiptment,Vehicles,254985.96,215334.76,215420.94,215420.94,253197.33,253111.15,253111.15
16000,bs,assets,property and equiptment,property and equiptment,Accumulated Depreciation,-333998.24,-299526.04,-328195.02,-340534.20,-298149.36,-330161.27,-331856.60
17500,bs,assets,other assets,other assets,Prepaid Expenses,9212.68,106.36,348.00,232.00,116.00,377.00,377.00
19200,bs,assets,other assets,other assets,Intangible Assets,1942707.07,1942707.07,1942707.07,1942707.07,1942707.07,0.00,0.00
19500,bs,assets,other assets,other assets,Accumulated Amortization,-1942707.07,-1942707.07,-1942707.07,-1942707.07,-1942707.07,0.00,0.00
20000,bs,Liabilities,current liabilities,accounts payable,Accounts Payable,0.00,0.00,-8931.79,-4767.59,0.00,0.00,-215634.10
20005,bs,Liabilities,current liabilities,accounts payable,Negative Cash Balance,0.00,0.00,-23737.03,0.00,0.00,0.00,0.00
20020,bs,Liabilities,current liabilities,accounts payable,Accrued Accounts Payable,0.00,0.00,0.00,0.00,0.00,0.00,-143458.69
20300,bs,Liabilities,current liabilities,accrued expenses,Accrued Bonus Payable,0.00,0.00,0.00,0.00,0.00,0.00,-31500.00
20400,bs,Liabilities,current liabilities,other current liabilities,Notes Payable 2014 Infiniti JX,-15553.18,-6771.88,0.00,0.00,0.00,0.00,0.00
20500,bs,Liabilities,current liabilities,other current liabilities,Notes Payable Nat. Coop Bank,0.00,0.00,0.00,0.00,0.00,0.00,0.00
20700,bs,Liabilities,current liabilities,other current liabilities,Notes Payable 2014 Transit,-5291.68,0.00,0.00,0.00,0.00,0.00,0.00
20750,bs,Liabilities,current liabilities,other current liabilities,Wells Fargo Line of Credit,0.00,0.00,0.00,0.00,0.00,0.00,0.00
20800,bs,Liabilities,current liabilities,other current liabilities,Notes Payable 2018 Chrysler,0.00,-24448.38,-18695.82,-12943.26,-7190.70,-1438.14,0.00
20900,bs,Liabilities,current liabilities,other current liabilities,Payroll Protection Loan,0.00,0.00,0.00,0.00,0.00,0.00,0.00
21000,bs,Liabilities,long term liabilities,accrued Expenses,Accured PTO,-133953.44,-139895.15,-109685.38,-94395.76,-87258.04,-91980.11,-86785.09
21050,bs,Liabilities,long term liabilities,accrued Expenses,Accured Sick Leave,0.00,0.00,-8508.78,-26239.94,-25351.30,-25701.71,-25701.71
22250,bs,Liabilities,long term liabilities,other long term liabilities,FFCRA Tax Credit,0.00,0.00,0.00,0.00,0.00,0.00,0.00
22400,bs,Liabilities,long term liabilities,other long term liabilities,MD Unemployment,0.00,0.00,0.00,0.00,0.00,0.00,0.00
22550,bs,Liabilities,long term liabilities,other long term liabilities,AFLAC Insurance,0.00,0.00,0.00,0.00,0.00,0.00,0.00
22600,bs,Liabilities,long term liabilities,other long term liabilities,401 K Payable,0.00,0.00,0.00,0.00,0.00,0.00,0.00
22650,bs,Liabilities,long term liabilities,other long term liabilities,Employee 401 K Loan Payable,0.00,0.00,0.00,0.00,0.00,0.00,0.00
23400,bs,Liabilities,long term liabilities,other long term liabilities,Deferred Income,0.00,0.00,0.00,0.00,0.00,0.00,-37000.00
24000,bs,Liabilities,long term liabilities,other long term liabilities,"Notes Payable, NCB, Long Term",0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [14]:
data.to_csv('working capital.csv')

In [ ]:
accounts.detailed_account_mapping

In [ ]:
data['cost of goods sold'] / data['revenue']

In [ ]:
accounts.trial_balances[70100]

# Discresionary Expenses

In [3]:
dis_oh  = accounts.get_data_to_plot('sub_account', 'Overhead', 'account', yearly=True)[0]

dis_oh[['Travel, Not job related', 'Meals & Entertainment']]


# accounts.accounts

get_data_to_plot sub_account
level = sub_account
Total duration for function <get_data_to_plot> is 0.004776499990839511

account     Travel, Not job related  Meals & Entertainment
2017-12-31                  7020.75                1580.35
2018-12-31                  7895.27                 831.30
2019-12-31                  7407.62                 997.80
2020-12-31                 -2152.77                 502.92
2021-12-31                  4715.40                  98.84
2022-12-31                   665.74                2837.13
2023-07-31                 12569.75                 130.18

In [4]:
dis_unallowable  = accounts.get_data_to_plot('sub_account', 'Unallowable', 'account', yearly=True)[0]
dis_unallowable

get_data_to_plot sub_account
level = sub_account
Total duration for function <get_data_to_plot> is 0.003968399978475645

account,Contributions,Interest Expense,Misc. Unallowable Expense,Officer Insurance,Personal Property Taxes
2017-12-31,0.0,2085.85,0.00,2678.15,1060.66
2018-12-31,105.0,2238.65,691.13,3808.91,1051.62
2019-12-31,0.0,3.77,0.00,2571.03,208.71
2020-12-31,0.0,13.20,7.81,4285.05,2972.67
2021-12-31,0.0,0.00,54.02,3428.04,1323.88
2022-12-31,0.0,756.32,0.00,3428.04,1817.90
2023-07-31,0.0,-34.75,716.52,1858.11,868.46

In [18]:
nonrecurring  = accounts.get_data_to_plot('sub_account', 'other revenue', 'account', yearly=True)[0]
nonrecurring
# accounts.accounts
# accounts.trial_balances

get_data_to_plot sub_account
level = sub_account
Total duration for function <get_data_to_plot> is 0.0036943999875802547

account,Gain/Loss on Sale,Grant Income,Interest Income,Other Income,PPP Forgiveness Income,Paycheck Protection PNC Loan
2017-12-31,0.0,0.00,-2441.92,0.0,0.0,0.0
2018-12-31,-2000.0,0.00,-5534.71,0.0,0.0,0.0
2019-12-31,0.0,0.00,-7182.06,0.0,0.0,0.0
2020-12-31,0.0,-15400.33,-1282.74,0.0,-872500.0,0.0
2021-12-31,-5500.0,-22369.92,-1129.29,0.0,-926210.0,0.0
2022-12-31,0.0,0.00,-9729.95,0.0,0.0,0.0
2023-07-31,-21000.0,0.00,-14569.90,-3331.3,0.0,0.0

# Calculations

In [ ]:
accounts.account_mapping

In [ ]:
accounts.account_mapping.columns.to_list()[2:]

In [ ]:
rev_data, label, sub_data_names = accounts.get_data_to_plot('sub_account', 'contract', 'account', yearly=True)

In [ ]:
rev_data = rev_data.T * -1

rev_data

In [ ]:
rev_data.to_excel("documents/revenue by contracts.xlsx")

In [ ]:
sub_data_names

In [ ]:
exp_data, label, sub_data_names = accounts.get_data_to_plot('category', 'operating expenses', 'account', yearly=True)

In [ ]:
exp_data

In [ ]:
exp_data['PTO']

In [ ]:
salaries = ['Bonus Expense', 'Direct  Overhead Labor', 'Gen. & Admin Labor']
exp_data.loc[:, salaries].sum(axis=1)

In [ ]:
fin_map = pd.read_excel('documents/finance map.xlsx')
benefit_bool = fin_map['bank cat'] == 'Employee Benefits'
wage_bool = fin_map['bank cat'] == 'Salaries & Wages'

In [ ]:
wage = fin_map.loc[wage_bool, 'trial balance'].to_list()
exp_data.loc[:, wage].T

In [ ]:
benefit = fin_map.loc[benefit_bool, 'trial balance'].to_list()
exp_data.loc[:, benefit].T

In [ ]:
fica = exp_data['FICA & Med. Withholding']

In [ ]:
fica / revenue

In [ ]:
cogs_data, label, sub_data_names = accounts.get_data_to_plot('sub_account', 'cost of goods sold', 'account', yearly=True)

In [ ]:
cogs_data.T

In [ ]:
revenue

# Trial Balance Read Code

In [ ]:
from finance_model.read_trial_balances import read_trial_balance, clean_trial_balance

file_name = 'HazTrain TB.2023 by month GENAESIS Confidential.xlsx'
path = f'documents\\trial_balances\\{file_name}'
xls = pd.ExcelFile(path)
year = 2023
month = 5

jun23 = read_trial_balance(xls, year, month)

In [ ]:
jun23

In [ ]:
clean_trial_balance(jun23)

In [ ]:
    jun23 = jun23.set_axis(["id", "description", "debit", "credit"], axis=1)
    jun23 = jun23.astype({'id': int})
    jun23 = jun23.set_index('id')

In [ ]:
jun23

In [ ]:
jun23[[0]]

In [ ]:
xls.close()

In [ ]:
0 in jun23.index