In [1]:
from finance_model.chart_of_accounts import ChartOfAccounts, unpickle_accounts
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pickle

In [2]:
accounts = unpickle_accounts()
# accounts = ChartOfAccounts()

Total duration for function <unpickle_accounts> is 0.0010633999481797218

In [5]:
accounts.account_mapping
accounts.trial_balances

,11040,11050,11060,11100,11500,11600,12000,12050,12500,14700,...,85000,86000,87000,88000,89000,91000,91500,91700,94000,95000
2017-01-31,206481.42,359.08,0.0,96544.28,100.0,0.0,1207531.78,0.0,0.0,13100.0,...,0.0,9000.0,854.44,646.50,0.0,410.39,0.0,306.62,0.0,84.48
2017-02-28,593226.37,186.51,0.0,1235.53,100.0,0.0,939495.12,0.0,0.0,13100.0,...,0.0,18000.0,1733.79,929.00,0.0,1089.22,0.0,306.62,0.0,-59.51
2017-03-31,519427.85,283.56,0.0,1235.53,100.0,0.0,1195027.36,0.0,0.0,13100.0,...,0.0,27000.0,2646.39,1031.50,0.0,1400.64,0.0,790.51,0.0,108.86
2017-04-30,614920.67,88.73,0.0,1235.53,100.0,0.0,1246457.11,2958.5,0.0,13100.0,...,0.0,36000.0,3853.76,1629.00,0.0,1633.95,0.0,1097.13,0.0,163.85
2017-05-31,634201.97,110.36,0.0,1235.53,100.0,0.0,902211.29,2866.5,0.0,13100.0,...,0.0,45000.0,4751.65,1660.25,0.0,1876.95,0.0,1097.13,300.0,172.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-31,737289.83,1207.69,0.0,0.00,100.0,0.0,1082932.01,0.0,0.0,13100.0,...,210.0,11000.0,1144.22,714.85,0.0,0.00,0.0,0.00,0.0,0.00
2023-02-28,1238993.67,1817.49,0.0,0.00,100.0,0.0,964546.39,0.0,0.0,13100.0,...,210.0,22000.0,2520.05,1159.85,0.0,0.00,0.0,857.01,0.0,14.66
2023-03-31,1089580.81,1833.92,0.0,0.00,100.0,0.0,1231335.82,0.0,0.0,13100.0,...,210.0,33000.0,4015.54,1279.85,-54990.0,0.00,0.0,857.01,0.0,672.58
2023-04-30,1367670.96,2953.41,0.0,0.00,100.0,0.0,1349454.86,0.0,0.0,13100.0,...,210.0,44000.0,4871.91,2034.85,-54990.0,0.00,0.0,857.01,0.0,1006.33
2023-05-31,1312552.22,2347.36,0.0,0.00,100.0,0.0,1301002.33,0.0,0.0,13100.0,...,210.0,55000.0,6327.62,2094.85,-33990.0,0.00,0.0,857.01,300.0,729.23

In [4]:
data, label, sub_data_names = accounts.get_data_to_plot('bs_is', 'is', 'category', yearly=True)

get_data_to_plot bs_is
Total duration for function <get_data_to_plot> is 0.00484040001174435

In [ ]:
data

In [ ]:
net_profit = data['revenue'] + data['cost of goods sold'] + data['operating expenses'] + data['other expenses']

In [ ]:
revenue = data['revenue']

In [ ]:
net_margin = net_profit / revenue

In [ ]:
net_margin

In [6]:
tb = accounts.trial_balances.copy()
if True:
    tb['year'] = [date[:4] for date in tb.index]
    grp = tb.groupby('year')
    tb = grp.tail(1).iloc[:, :-1]
tb = tb.T

In [36]:
tb
year_grp = grp.tail(1)
grp.size()
grp.groups
grp.first()

year_grp[[70100, 81100, 81200]]

year_grp.loc[:,[70100, 81100, 81200]].sum(axis=1)

2017-12-31    339872.78
2018-12-31    336203.01
2019-12-31    320366.60
2020-12-31    387749.11
2021-12-31    348786.20
2022-12-31    355613.74
2023-05-31    143933.77
dtype: float64

In [21]:
acc_nos = [key for key in accounts.accounts.keys()]
acc_nos.sort()
for acc in acc_nos:
    print(f'acc = {accounts.accounts[acc]}')

acc = (11040, PNC Operating, debit, bs)"
acc = (11050, PNC Payroll, debit, bs)"
acc = (11060, PNC Money Market, debit, bs)"
acc = (11100, Wells Fargo Bank, debit, bs)"
acc = (11500, Cash on Hand, Petty Cash, debit, bs)"
acc = (11600, Accounts Receivable, Other, debit, bs)"
acc = (12000, Accounts Receivable, debit, bs)"
acc = (12050, Accounts Receivable, Employees, debit, bs)"
acc = (12500, Deposits & Prepaid A/R, credit, bs)"
acc = (14700, Furniture & Fixtures, debit, bs)"
acc = (15000, Machinery & Equipment, debit, bs)"
acc = (15200, Building, debit, bs)"
acc = (15700, Vehicles, debit, bs)"
acc = (16000, Accumulated Depreciation, credit, bs)"
acc = (17500, Prepaid Expenses, debit, bs)"
acc = (19200, Intangible Assets, debit, bs)"
acc = (19500, Accumulated Amortization, credit, bs)"
acc = (20000, Accounts Payable, credit, bs)"
acc = (20005, Negative Cash Balance, credit, bs)"
acc = (20020, Accrued Accounts Payable, credit, bs)"
acc = (20300, Accrued Bonus Payable, credit, bs)"
acc = (20400, Notes Payable 2014 Infiniti JX, credit, bs)"
acc = (20500, Notes Payable Nat. Coop Bank, credit, bs)"
acc = (20700, Notes Payable  2014 Transit, credit, bs)"
acc = (20750, Wells Fargo Line of Credit, credit, bs)"
acc = (20800, Notes Payable 2018 Chrysler, credit, bs)"
acc = (20900, Payroll Protection Loan, credit, bs)"
acc = (21000, Accured PTO, credit, bs)"
acc = (21050, Accured Sick Leave, credit, bs)"
acc = (22250, FFCRA Tax Credit, credit, bs)"
acc = (22400, MD Unemployment, credit, bs)"
acc = (22550, AFLAC Insurance, credit, bs)"
acc = (22600, 401 K Payable, debit, bs)"
acc = (22650, Employee 401 K Loan Payable, debit, bs)"
acc = (24000, Notes Payable, NCB, Long Term, credit, bs)"
acc = (27000, Capitol Stock, credit, bs)"
acc = (27100, Distributions, debit, bs)"
acc = (27600, Owners Equity, credit, bs)"
acc = (28000, Retained Earnings, credit, bs)"
acc = (30100, CECOS, credit, is)"
acc = (30150, CECOS Support, credit, is)"
acc = (30220, PAX/ MATERIALS CONTRACT, credit, is)"
acc = (30250, Regional Haz. Waste, credit, is)"
acc = (30300, NAVOSH/HSIRM, credit, is)"
acc = (30350, Ft Belvoir Contract, credit, is)"
acc = (30400, EPA, credit, is)"
acc = (30600, Private Industry, credit, is)"
acc = (30800, GOVERNMENT, credit, is)"
acc = (30900, GSA, credit, is)"
acc = (31000, WACO/LOCAL PRIVATE, credit, is)"
acc = (31100, ENVIROSPECTRUM, credit, is)"
acc = (34500, Interest  Income, credit, is)"
acc = (34600, Other Income, credit, is)"
acc = (34601, Paycheck Protection PNC  Loan, credit, is)"
acc = (35000, Gain/Loss on Sale, credit, is)"
acc = (40010, Grant Income, credit, is)"
acc = (40011, PPP Forgiveness Income, credit, is)"
acc = (41000, Direct Labor, debit, is)"
acc = (42000, Contracted Services, debit, is)"
acc = (43000, Travel, debit, is)"
acc = (47000, Direct Material Expenses, debit, is)"
acc = (48000, Other Direct Costs, debit, is)"
acc = (50150, Bonus Expense, debit, is)"
acc = (50160, PTO, debit, is)"
acc = (50165, Sick Leave Expense, debit, is)"
acc = (50170, 401 K  Employer Match, debit, is)"
acc = (50180, Paid Holidays, debit, is)"
acc = (50300, Health Benefits, debit, is)"
acc = (50350, SCA Health & Welfare, debit, is)"
acc = (50400, Disability & Life Insurance, debit, is)"
acc = (50600, FICA & Med. Withholding, debit, is)"
acc = (50800, 401 K Adm. Fees/Principal, debit, is)"
acc = (50900, FUTA Payable, debit, is)"
acc = (51000, MD Unemployment Expense, debit, is)"
acc = (51500, Florida Unemployment, debit, is)"
acc = (52000, Workmans Compensation, debit, is)"
acc = (52500, Other Fringe, debit, is)"
acc = (52510, EPSL1, debit, is)"
acc = (52515, EPSL2, debit, is)"
acc = (52520, Employee Retention Credit, credit, is)"
acc = (53000, Employee Relations, debit, is)"
acc = (54000, Engineering Materials, debit, is)"
acc = (55000, Hazmart Expenses, debit, is)"
acc = (60100, IFF Fee/GSA, debit, is)"
acc = (60500, Payroll Suspense, debit, is)"
acc = (61000, Licenses & Certifications, debit, is)"
acc = (62000, Insurance Expense, debit, is)"
acc = (63000, Postage & Shipping, debit, is)"
acc = (64000, Computer Equipment & Software, debit, is)"
acc = (65000, Repair & Maintenance, Bldg., debit, is)"
acc = (67000, Telephone, debit, is)"
acc = (67500, Training Materials & Supplies, debit, is)"
acc = (68000, Utilities, debit, is)"
acc = (69000, Depreciation, debit, is)"
acc = (70100, Direct  Overhead Labor, debit, is)"
acc = (71000, Internet & E mail expenses, debit, is)"
acc = (72500, Office Supplies & Expenses, debit, is)"
acc = (73500, Rentals & Leases,  Equipment, debit, is)"
acc = (74500, Rentals & Leases, Auto, debit, is)"
acc = (75500, Misc. Expenses, debit, is)"
acc = (78000, Travel, Not job related, debit, is)"
acc = (78500, Meals & Entertainment, debit, is)"
acc = (79500, Vehicle Maintenance & Expenses, debit, is)"
acc = (81000, Officers Salary, debit, is)"
acc = (81100, Gen. & Admin Labor, debit, is)"
acc = (81200, Bid & Proposal Labor, debit, is)"
acc = (83000, Legal & Accounting, debit, is)"
acc = (84000, Advertising & Marketing Expens, debit, is)"
acc = (85000, Consulting Fees, debit, is)"
acc = (86000, Rentals, Office, debit, is)"
acc = (87000, Bank Charges & Credit Card Fee, debit, is)"
acc = (88000, Dues & Subscriptions, debit, is)"
acc = (89000, Tax filing fees, debit, is)"
acc = (91000, Interest Expense, debit, is)"
acc = (91500, Contributions, debit, is)"
acc = (91700, Officer Insurance, debit, is)"
acc = (94000, Personal Property Taxes, debit, is)"
acc = (95000, Misc. Unallowable Expense, debit, is)"

In [23]:
accounts.detailed_account_mapping

,account_no,bs_is,category,sub_category,sub_account,account
0,11040,bs,assets,current assets,cash and equivelents,PNC Operating
1,11050,bs,assets,current assets,cash and equivelents,PNC Payroll
2,11060,bs,assets,current assets,cash and equivelents,PNC Money Market
3,11100,bs,assets,current assets,cash and equivelents,Wells Fargo Bank
4,11500,bs,assets,current assets,cash and equivelents,"Cash on Hand, Petty Cash"
...,...,...,...,...,...,...
113,91000,is,other expenses,Unallowable,Unallowable,Interest Expense
114,91500,is,other expenses,Unallowable,Unallowable,Contributions
115,91700,is,other expenses,Unallowable,Unallowable,Officer Insurance
116,94000,is,other expenses,Unallowable,Unallowable,Personal Property Taxes
117,95000,is,other expenses,Unallowable,Unallowable,Misc. Unallowable Expense

In [25]:
accounts.trial_balances[70100]

2017-01-31     22538.84
2017-02-28     43697.84
2017-03-31     60115.42
2017-04-30     77130.97
2017-05-31    100154.76
                ...
2023-01-31     19562.75
2023-02-28     41254.85
2023-03-31     61454.99
2023-04-30     81731.14
2023-05-31    103726.56
Name: 70100, Length: 77, dtype: float64

# Calculations

In [37]:
accounts.account_mapping

,low,high,bs_is,category,sub_category,sub_account
0,11000,11599,bs,assets,current assets,cash and equivelents
1,11600,13000,bs,assets,current assets,accounts receivable
2,14700,16000,bs,assets,property and equiptment,property and equiptment
3,17500,19999,bs,assets,other assets,other assets
4,20000,20200,bs,Liabilities,current liabilities,accounts payable
5,20300,20399,bs,Liabilities,current liabilities,accrued expenses
6,20400,20999,bs,Liabilities,current liabilities,other current liabilities
7,21000,21999,bs,Liabilities,long term liabilities,accrued Expenses
8,22000,24999,bs,Liabilities,long term liabilities,other long term liabilities
9,27000,28999,bs,equity,equity,equity
10,30000,31199,is,revenue,contract,contract
11,34000,40999,is,revenue,other revenue,other revenue
12,41000,48000,is,cost of goods sold,cost of goods sold,cost of goods sold
13,50000,55000,is,operating expenses,Fringe,Fringe
14,60000,69000,is,operating expenses,Service Center,Service Center
15,70000,79999,is,operating expenses,Overhead,Overhead
16,80000,89999,is,operating expenses,G&A,G&A
17,90000,95999,is,other expenses,Unallowable,Unallowable

In [38]:
accounts.account_mapping.columns.to_list()[2:]

['bs_is', 'category', 'sub_category', 'sub_account']