In [7]:
from finance_model.chart_of_accounts import ChartOfAccounts, unpickle_accounts
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pickle

In [8]:
accounts = unpickle_accounts()
# accounts = ChartOfAccounts()

Total duration for function <unpickle_accounts> is 0.0010417000157758594

In [9]:
accounts.account_mapping

,low,high,bs_is,category,sub_category,sub_account
0,11000,11599,bs,assets,current assets,cash and equivelents
1,11600,13000,bs,assets,current assets,accounts receivable
2,14700,16000,bs,assets,property and equiptment,property and equiptment
3,17500,19999,bs,assets,other assets,other assets
4,20000,20200,bs,Liabilities,current liabilities,accounts payable
5,20300,20399,bs,Liabilities,current liabilities,accrued expenses
6,20400,20999,bs,Liabilities,current liabilities,other
7,21000,21999,bs,Liabilities,long term liabilities,Accrued Expenses
8,22000,24999,bs,Liabilities,long term liabilities,Other
9,27000,28999,bs,equity,equity,equity
10,30000,31199,is,revenue,contract,contract
11,34000,40999,is,revenue,other,other
12,41000,48000,is,cost of goods sold,cost of goods sold,cost of goods sold
13,50000,55000,is,operating expenses,Fringe,Fringe
14,60000,69000,is,operating expenses,Service Center,Service Center
15,70000,79999,is,operating expenses,Overhead,Overhead
16,80000,89999,is,operating expenses,G&A,G&A
17,90000,95999,is,other expenses,Unallowable,Unallowable

In [10]:
accounts.detailed_account_mapping

,account_no,category,sub_category,sub_account,account
0,11040,assets,current assets,cash and equivelents,PNC Operating
1,11050,assets,current assets,cash and equivelents,PNC Payroll
2,11060,assets,current assets,cash and equivelents,PNC Money Market
3,11100,assets,current assets,cash and equivelents,Wells Fargo Bank
4,11500,assets,current assets,cash and equivelents,"Cash on Hand, Petty Cash"
...,...,...,...,...,...
113,91000,other expenses,Unallowable,Unallowable,Interest Expense
114,91500,other expenses,Unallowable,Unallowable,Contributions
115,91700,other expenses,Unallowable,Unallowable,Officer Insurance
116,94000,other expenses,Unallowable,Unallowable,Personal Property Taxes
117,95000,other expenses,Unallowable,Unallowable,Misc. Unallowable Expense

In [ ]:
rowb = accounts.account_mapping.loc[:,'sub_category'].isnull()
rowb
accounts.account_mapping.loc[rowb]

In [ ]:
accounts.account_mapping.loc[rowb, 'sub_category'] = accounts.account_mapping.loc[rowb, 'category']

In [ ]:
accounts.account_mapping

In [ ]:
cols = [col for col in accounts.trial_balances.columns]
blanks = [None] * len(cols)
df_data = {'account_no': cols,
           'category': blanks,
           'sub_category': blanks,
           'sub_account': blanks,
           'account': blanks}
df = pd.DataFrame(df_data)
for i in range(len(cols)):
    account_no = cols[i]
    row = accounts.get_account_mapping(account_no)
    df.iloc[i, 1:4] = row.iloc[0, 3:6]
    df.iloc[i, 4] = accounts.accounts[account_no].description

In [ ]:
df

In [ ]:
row = accounts.account_mapping.iloc[0]

In [5]:
accounts.build_detailed_account_mapping()

In [6]:
accounts.detailed_account_mapping

,account_no,category,sub_category,sub_account,account
0,11040,assets,current assets,cash and equivelents,PNC Operating
1,11050,assets,current assets,cash and equivelents,PNC Payroll
2,11060,assets,current assets,cash and equivelents,PNC Money Market
3,11100,assets,current assets,cash and equivelents,Wells Fargo Bank
4,11500,assets,current assets,cash and equivelents,"Cash on Hand, Petty Cash"
...,...,...,...,...,...
113,91000,other expenses,Unallowable,Unallowable,Interest Expense
114,91500,other expenses,Unallowable,Unallowable,Contributions
115,91700,other expenses,Unallowable,Unallowable,Officer Insurance
116,94000,other expenses,Unallowable,Unallowable,Personal Property Taxes
117,95000,other expenses,Unallowable,Unallowable,Misc. Unallowable Expense

In [3]:
accounts.account_mapping

,low,high,bs_is,category,sub_category,sub_account
0,11000,11599,bs,assets,current assets,cash and equivelents
1,11600,13000,bs,assets,current assets,accounts receivable
2,14700,16000,bs,assets,property and equiptment,NaN
3,17500,19999,bs,assets,other assets,NaN
4,20000,20200,bs,Liabilities,current liabilities,accounts payable
5,20300,20399,bs,Liabilities,current liabilities,accrued expenses
6,20400,20999,bs,Liabilities,current liabilities,other
7,21000,21999,bs,Liabilities,long term liabilities,Accrued Expenses
8,22000,24999,bs,Liabilities,long term liabilities,Other
9,27000,28999,bs,equity,NaN,NaN
10,30000,31199,is,revenue,contract,NaN
11,34000,40999,is,revenue,other,NaN
12,41000,48000,is,cost of goods sold,NaN,NaN
13,50000,55000,is,operating expenses,Fringe,NaN
14,60000,69000,is,operating expenses,Service Center,NaN
15,70000,79999,is,operating expenses,Overhead,NaN
16,80000,89999,is,operating expenses,G&A,NaN
17,90000,95999,is,other expenses,Unallowable,NaN