In [1]:
import pandas as pd
from datetime import datetime
from finance_model import Contracts
# from finance_model import finance_plot
from finance_model.plot_financials import finance_plot

In [2]:
contracts = Contracts()
contracts.read_contracts()
contracts.calculate_backlog_spend()

In [ ]:
# contracts.plot_data(yearly=True, start_date=datetime(year=2023, month=9, day=1))
contracts.plot_data(yearly=True)

In [ ]:
finance_plot(contracts.spend.loc[:, 3:3], "spend", yearly=False)

In [ ]:
df = contracts.spend
# df['year'] = datetime(year=df.index.year, month=12, day=31)
df['year'] = df.index.map(lambda date: datetime(year=date.year, month=12, day=31))
group = df.groupby('year')
yearly = group.sum()
# contracts.spend.groupby()

In [5]:
contracts.contracts_yearly.iloc[:, 1]

pk
1       21250.00
2       23000.00
3      103966.00
4      225000.00
5      171000.00
6     1348428.25
7      700000.00
8     1000000.00
9     1949101.08
10     639031.03
11     605870.11
12     129125.00
13     112031.00
14     114700.00
15    3113213.00
16    1974790.10
Name: 2023, dtype: float64

In [6]:
contracts.contracts

,link,charge_code,category,name,contract_number,division,prime_contract_number,award_date,start_date,end_date,gov_com,agency,prime_sub,prime,revenue,backlog,contract_type,cut
pk,,,,,,,,,,,,,,,,,,
1,NaN,A301-XXX,WIP,Fence to Fence Services - Seymour Johnson AFB,NaN,Services,NaN,NaT,2018-04-01,2023-03-31,Gov't,AirForce,Sub,BhateZapataJV,Gov't,450000.00,FFP,NaN
2,NaN,A601-XXX,WIP,Fence to Fence Services - Moody AFB,NaN,Services,NaN,NaT,2018-04-01,2023-03-31,Gov't,AirForce,Sub,BhateZapataJV,Gov't,475000.00,FFP,NaN
3,NaN,A901-XXX,WIP,Fence-to-Fence Environmental Services at Davis...,NaN,Services,AFCGSA1.001,2019-07-01,2019-07-17,2024-06-30,Gov't,AirForce,Sub,Bhate,GSA,511034.00,FFP,NaN
4,NaN,A801-XXX,WIP,Fence-to-Fence Environmental Services at Dyess...,NaN,Services,AFCGSA1.001,2019-06-15,2019-06-15,2024-06-14,Gov't,AirForce,Sub,Bhate,GSA,1125000.00,FFP,NaN
5,NaN,AA-10-XXX,WIP,Fence-to-Fence Environmental Services at Scott...,NaN,Services,AFCGSA1.001,2019-09-01,2019-09-01,2024-02-28,Gov't,AirForce,Sub,Bhate,GSA,769000.00,FFP,NaN
6,NaN,A700-XXX,WIP,Fence-to-Fence Environmental Services at Joint...,NaN,Services,AFCGSA1.001,2019-06-20,2019-06-26,2024-06-25,Gov't,AirForce,Sub,Bhate,GSA,3550000.00,FFP,NaN
7,NaN,C100-XXX,WIP,Environmental Training & Course Development Fo...,N00244-19-D-0012,Training,NaN,2019-08-07,2019-08-08,2023-03-13,Gov't,CECOS,Prime,NaN,Gov't,6243077.00,FFP,FFP
8,NaN,G100-XXX**,WIP,NASA Johnson Environmental Support Team (JEST),80JSC018A0012,Services,80JSC018A0012,2018-07-01,2018-09-01,2023-08-31,Gov't,NASA,CTA,NaN,Gov't,5100870.00,FFP/T&M,NaN
9,NaN,L302-XXX,WIP,Regional Hazardous Waste Management Services F...,N40080-20-D-0006,Services,N40080-20-D-0006,2019-01-27,2020-02-01,2025-01-31,Gov't,NAVFAC,Prime,NaN,Gov't,9743180.10,FFP,NaN
10,NaN,R202-XXX,WIP,Hazardous Substance Incident Response Manageme...,N00189-20-D-0002,Training,N00189-20-D-0002,2019-11-01,2019-11-01,2025-04-30,Gov't,NAVOSH,Prime,NaN,Gov't,3571886.19,FFP,NaN
11,NaN,E200-XXX,WIP,Environmental Response Training Program (SB),68HERH21A0007,Training,47QRAA20D0056,2021-04-15,2021-04-16,2026-04-15,Gov't,EPA,Prime,NaN,Gov't,3037919.65,FFP,NaN
12,NaN,AA11-XXX,WIP,Fence to Fence Services - JBAB,NaN,Services,AFCGSA1.001,2019-09-01,2019-09-01,2025-06-30,Gov't,AirForce,Sub,Bhate,GSA,450475.00,FFP,NaN
13,NaN,K100-XXX,WIP,HW Support Naval Oceangraphic-Stennis,N6230620F0065,Services,47QRAA20D0056,2020-10-01,2020-10-01,2025-09-30,Gov't,Navy Oceangraphic-Stennis,Prime,NaN,Gov't,560645.00,FFP,NaN
14,NaN,M601-XXX,WIP,Lakehurst HAZMAT Support,FA44822F024,Services,47QRAA20D0056,2022-08-11,2022-09-01,2027-02-28,Gov't,Air Force,Prime,NaN,Gov't,545712.00,FFP,NaN
15,NaN,AA12-XXX,WIP,"JBMDL, Hanscom, Rome Labs, New Boston F2F",W912DR22C0008,Services,47QRAA20D0056,2022-02-01,2022-03-01,2027-01-31,Gov't,USACE,Prime,NaN,Gov't,15534355.34,FFP,NaN
16,7.0,NaN,WIP,Environmental Training & Course Development Fo...,N0024423D0005,Services,NaN,2023-05-15,2023-07-01,2028-06-30,Gov't,Navy CECOS,Prime,NaN,Gov't,19747901.00,FFP,FFP

In [57]:
naics = pd.read_excel('documents/NAICS Codes.xlsx')
naics = naics.set_index('pk')
naics = naics.NAICS
naics

pk
7     611699
8     541620
9     562112
10    611430
11    541620
12    562910
13    641620
14    541620
15    562910
16    541620
Name: NAICS, dtype: int64

In [68]:
jc = contracts.contracts_yearly.merge(naics, how='left', on='pk')
jc.NAICS = jc.NAICS.fillna(0)
jc.NAICS = jc.NAICS.astype(int)
grp = jc.groupby('NAICS')
naics_grp = grp.sum()
naics_grp.to_excel('documents/naics group.xlsx')

In [50]:
contracts.contracts_yearly

,2022,2023,2024,2025,2026,2027,2028,2029,2030
pk,,,,,,,,,
1,85000.00,21250.00,0.000,0.000000e+00,0.000,0.0,0.0,0.0,0.0
2,92000.00,23000.00,0.000,0.000000e+00,0.000,0.0,0.0,0.0,0.0
3,103966.00,103966.00,51983.000,0.000000e+00,0.000,0.0,0.0,0.0,0.0
4,225000.00,225000.00,112500.000,0.000000e+00,0.000,0.0,0.0,0.0,0.0
5,171000.00,171000.00,28500.000,0.000000e+00,0.000,0.0,0.0,0.0,0.0
6,1348428.25,1348428.25,674214.125,0.000000e+00,0.000,0.0,0.0,0.0,0.0
7,1838191.00,700000.00,400000.000,0.000000e+00,0.000,0.0,0.0,0.0,0.0
8,1000000.00,1000000.00,700000.000,0.000000e+00,0.000,0.0,0.0,0.0,0.0
9,1943282.21,1949101.08,1953517.920,1.627932e+05,0.000,0.0,0.0,0.0,0.0
10,601375.19,639031.03,679690.210,2.265634e+05,0.000,0.0,0.0,0.0,0.0
11,587168.36,605870.11,625219.780,6.447029e+05,161175.735,0.0,0.0,0.0,0.0
12,0.00,129125.00,131750.000,6.680000e+04,0.000,0.0,0.0,0.0,0.0
13,108768.00,112031.00,115392.000,8.654400e+04,0.000,0.0,0.0,0.0,0.0
14,37000.00,114700.00,119290.000,1.240600e+05,129020.000,21642.0,0.0,0.0,0.0
15,2814083.92,3113213.00,2926684.000,3.171623e+06,3247921.000,257000.0,0.0,0.0,0.0
16,3000000.00,1974790.10,3949580.200,3.949580e+06,3949580.200,3949580.2,1974790.1,0.0,0.0

In [ ]:
[pd.to_datetime(dt).strftime('%Y') for dt in contracts.spend.index]

In [ ]:
contracts.contracts

In [ ]:
contracts.contracts_yearly

In [ ]:
contracts.contracts.loc[12, 'end_date']

In [ ]:
contracts.contracts_yearly.loc[12, 2023:2025]

In [ ]:
import math

math.floor(-0.5)