In [2]:
import pandas as pd
from config import config

In [3]:
peachtree_df = pd.ExcelFile(config['peach_tree_checks'])

peachtree_df = pd.read_excel(peachtree_df, dtype={"Check #": str,
                                                  "Cash Account": str})
peachtree_df = peachtree_df.iloc[:len(peachtree_df) - 2, :]
print(peachtree_df.dtypes)

Check #                 object
Date            datetime64[ns]
Payee                   object
Cash Account            object
Amount                 float64
dtype: object

In [19]:
void_mask = peachtree_df["Check #"].str.endswith("V")
check_no = peachtree_df.loc[void_mask, "Check #"].str.rstrip("V")


void_df = pd.DataFrame({'Check #': peachtree_df.loc[void_mask, "Check #"].str.rstrip("V"),
                        'Void': True,
                        'Void Date': peachtree_df.loc[void_mask, "Date"]
                        })
merged_df = pd.merge(peachtree_df, void_df, how='left')
merged_df.loc[merged_df['Void'].isna(), 'Void'] = False
# peachtree_df['void'] = False
# peachtree_df['void'][a] = True
# voided = peachtree_df[a]
# voided["Void Check"] = voided["Check #"]
# 

# voided["voided"] = voided["Check #"].str.rstrip("V")
#voided.loc[:, "Check #"] = check_no

In [20]:
merged_df

,Check #,Date,Payee,Cash Account,Amount,Void,Void Date
0,12580V,2023-10-09,The Shipley Group,11040,-15000.00,False,NaT
1,12583,2023-10-09,3460 Rockefeller CT LLC,11040,11000.00,False,NaT
2,12584,2023-10-09,AECOM Inc.,11040,82791.91,False,NaT
3,12585,2023-10-09,Balancelogic,11040,390.00,False,NaT
4,12586,2023-10-09,John V. Bean,11040,14.00,False,NaT
...,...,...,...,...,...,...,...
144,12696V,2023-12-15,American Express,11040,-31594.90,False,NaT
145,ON LINE PAY 12/22.23,2023-12-22,American Express,11040,16751.58,False,NaT
146,ON LINE PAY 12/23/23,2023-12-22,American Express,11040,14843.32,False,NaT
147,ON LINE PAY 12/23/24,2023-12-22,VOID,11040,NaN,False,NaT
148,ON LINE PAY 12/23/25,2023-12-22,VOID,11040,NaN,False,NaT

In [21]:
merged_df.dtypes

Check #                 object
Date            datetime64[ns]
Payee                   object
Cash Account            object
Amount                 float64
Void                    object
Void Date       datetime64[ns]
dtype: object

In [6]:
void_df

    Check #  Void
0     12580  True
67    12647  True
71    12618  True
72    12620  True
73    12621  True
74    12622  True
75    12623  True
76    12625  True
77    12627  True
144   12696  True

In [36]:
peachtree_df

,Check #,Date,Payee,Cash Account,Amount,void
0,12580V,2023-10-09,The Shipley Group,11040,-15000.00,None
1,12583,2023-10-09,3460 Rockefeller CT LLC,11040,11000.00,None
2,12584,2023-10-09,AECOM Inc.,11040,82791.91,None
3,12585,2023-10-09,Balancelogic,11040,390.00,None
4,12586,2023-10-09,John V. Bean,11040,14.00,None
...,...,...,...,...,...,...
144,12696V,2023-12-15,American Express,11040,-31594.90,None
145,ON LINE PAY 12/22.23,2023-12-22,American Express,11040,16751.58,None
146,ON LINE PAY 12/23/23,2023-12-22,American Express,11040,14843.32,None
147,ON LINE PAY 12/23/24,2023-12-22,VOID,11040,NaN,None
148,ON LINE PAY 12/23/25,2023-12-22,VOID,11040,NaN,None

In [5]:
peachtree_df.dtypes

Check #                 object
Date            datetime64[ns]
Payee                   object
Cash Account            object
Amount                 float64
void                      bool
dtype: object