# scratch
## This notebook is for working out temporary issues and as a practice / experimentation repl
### Imports for reading in accounts

In [1]:
from finance_model.chart_of_accounts import ChartOfAccounts, unpickle_accounts
from finance_model.finance_enums import AccountLevel, CATEGORY, SUBCATEGORY, SUBCATEGORY2
import pandas as pd
from config import config

loading environment variables
cwd = C:\Coding\Finance-Model\notebooks
inside of notebook directory
   setting new working directory: C:\Coding\Finance-Model

### unpicle accounts

In [2]:
pickle = True

if pickle:
    accounts = unpickle_accounts()
else:
    accounts = ChartOfAccounts()
    accounts.account_map
    accounts.trial_balances

Total duration for function <unpickle_accounts> is 0.0029993000207468867

### Fill in the none values

In [3]:
# a = accounts.detailed_account_map[AccountLevel.SUBCATEGORY2].isna()
# accounts.detailed_account_map[a] = SUBCATEGORY2.NONE
# accounts.detailed_account_map.loc[a,AccountLevel.SUBCATEGORY2] = SUBCATEGORY2.NONE
accounts.detailed_account_map
# a = accounts.trial_balances
# a = a.columns.to_list()
# a.sort()
# a

,AccountLevel.ACCOUNT_NO,AccountLevel.IS_BS,AccountLevel.NORMAL_BALANCE,AccountLevel.CATEGORY,AccountLevel.SUBCATEGORY,AccountLevel.SUBCATEGORY2,AccountLevel.ACCOUNT
0,11040,BS,DEBIT,ASSETS,CURRENT_ASSETS,CASH_AND_EQUIVALENTS,PNC Operating
1,11050,BS,DEBIT,ASSETS,CURRENT_ASSETS,CASH_AND_EQUIVALENTS,PNC Payroll
2,11060,BS,DEBIT,ASSETS,CURRENT_ASSETS,CASH_AND_EQUIVALENTS,PNC Money Market
3,11100,BS,DEBIT,ASSETS,CURRENT_ASSETS,CASH_AND_EQUIVALENTS,Wells Fargo Bank
4,11500,BS,DEBIT,ASSETS,CURRENT_ASSETS,CASH_AND_EQUIVALENTS,"Cash on Hand, Petty Cash"
...,...,...,...,...,...,...,...
114,91000,IS,DEBIT,OTHER_EXPENSES,UNALLOWABLE,NONE,Interest Expense
115,91500,IS,DEBIT,OTHER_EXPENSES,UNALLOWABLE,NONE,Contributions
116,91700,IS,DEBIT,OTHER_EXPENSES,UNALLOWABLE,NONE,Officer Insurance
117,94000,IS,DEBIT,OTHER_EXPENSES,UNALLOWABLE,NONE,Personal Property Taxes
118,95000,IS,DEBIT,OTHER_EXPENSES,UNALLOWABLE,NONE,Misc. Unallowable Expense

#### write_accounts to csv file to double check accuracy

In [4]:
write_accounts = True
if write_accounts:
    accounts.write_accounts()

coa_csv: ./data/processed/chart of accounts.csv

## Setup for manipulation of the trial balance dataframe
### imports and copy the trial balances

In [5]:

tb = accounts.trial_balances.copy()
tb.T

,2017-01-31,2017-02-28,2017-03-31,2017-04-30,2017-05-31,2017-06-30,2017-07-31,2017-08-31,2017-09-30,2017-10-31,...,2022-11-30,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31
11040,-206481.42,-593226.37,-519427.85,-614920.67,-634201.97,-678006.00,-779467.99,-934603.63,-915347.93,-840697.48,...,-746842.52,-27065.96,-737289.83,-1238993.67,-1089580.81,-1367670.96,-1312552.22,-690167.41,-799700.97,-1329638.38
11050,-359.08,-186.51,-283.56,-88.73,-110.36,-142.82,-172.20,-113.96,-93.94,-607.99,...,-3286.76,-201.03,-1207.69,-1817.49,-1833.92,-2953.41,-2347.36,-1826.61,-840.97,-1198.15
11060,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
11100,-96544.28,-1235.53,-1235.53,-1235.53,-1235.53,-1235.53,-1235.53,-1235.53,-1235.53,-1235.53,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
11500,-100.00,-100.00,-100.00,-100.00,-100.00,-100.00,-100.00,-100.00,-100.00,-100.00,...,-126.73,-100.00,-100.00,-100.00,-100.00,-100.00,-100.00,-100.00,-100.00,-100.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91000,-410.39,-1089.22,-1400.64,-1633.95,-1876.95,-2085.85,-2085.85,-2085.85,-2085.85,-2085.85,...,-756.32,-756.32,0.00,0.00,0.00,0.00,0.00,34.75,34.75,34.75
91500,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
91700,-306.62,-306.62,-790.51,-1097.13,-1097.13,-1581.02,-1887.64,-1887.64,-2371.53,-2678.15,...,-3428.04,-3428.04,0.00,-857.01,-857.01,-857.01,-857.01,-857.01,-1858.11,-1858.11
94000,0.00,0.00,0.00,0.00,-300.00,-300.00,-1060.66,-1060.66,-1060.66,-1060.66,...,-1817.90,-1817.90,0.00,0.00,0.00,0.00,-300.00,-300.00,-868.46,-868.46
95000,-84.48,59.51,-108.86,-163.85,-172.36,-163.85,-163.85,-1920.97,-1832.13,-973.79,...,-1488.77,0.00,0.00,-14.66,-672.58,-1006.33,-729.23,-729.23,-716.52,-966.93

---
### Group by year

In [6]:
yearly = True
# yearly = False

if yearly:
    tb['year'] = [date[:4] for date in tb.index]
    grp = tb.groupby('year')
    # Choose the last of each grouping. This works because the data is cumulative
    tb = grp.tail(1).iloc[:, :-1]
tb.T

,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-12-31,2022-12-31,2023-08-31
11040,-106161.11,-132985.04,0.00,-91887.83,-195671.37,-27065.96,-1329638.38
11050,-157.16,-578.46,-34.70,-3354.75,-2827.51,-201.03,-1198.15
11060,0.00,0.00,0.00,-9.86,0.00,0.00,0.00
11100,-1235.53,-1235.53,0.00,0.00,0.00,0.00,0.00
11500,-100.00,-100.00,-95.29,-126.73,-126.73,-100.00,-100.00
...,...,...,...,...,...,...,...
91000,-2085.85,-2238.65,-3.77,-13.20,0.00,-756.32,34.75
91500,0.00,-105.00,0.00,0.00,0.00,0.00,0.00
91700,-2678.15,-3808.91,-2571.03,-4285.05,-3428.04,-3428.04,-1858.11
94000,-1060.66,-1051.62,-208.71,-2972.67,-1323.88,-1817.90,-868.46
95000,0.00,-691.13,0.00,-7.81,-54.02,0.00,-966.93

### Merge with detailed map

In [7]:
tb = tb.T

tb[AccountLevel.ACCOUNT_NO] = tb.index
tb = tb.merge(accounts.detailed_account_map, how='left', on=AccountLevel.ACCOUNT_NO)
# tb

In [8]:
tb

,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-12-31,2022-12-31,2023-08-31,AccountLevel.ACCOUNT_NO,AccountLevel.IS_BS,AccountLevel.NORMAL_BALANCE,AccountLevel.CATEGORY,AccountLevel.SUBCATEGORY,AccountLevel.SUBCATEGORY2,AccountLevel.ACCOUNT
0,-106161.11,-132985.04,0.00,-91887.83,-195671.37,-27065.96,-1329638.38,11040,BS,DEBIT,ASSETS,CURRENT_ASSETS,CASH_AND_EQUIVALENTS,PNC Operating
1,-157.16,-578.46,-34.70,-3354.75,-2827.51,-201.03,-1198.15,11050,BS,DEBIT,ASSETS,CURRENT_ASSETS,CASH_AND_EQUIVALENTS,PNC Payroll
2,0.00,0.00,0.00,-9.86,0.00,0.00,0.00,11060,BS,DEBIT,ASSETS,CURRENT_ASSETS,CASH_AND_EQUIVALENTS,PNC Money Market
3,-1235.53,-1235.53,0.00,0.00,0.00,0.00,0.00,11100,BS,DEBIT,ASSETS,CURRENT_ASSETS,CASH_AND_EQUIVALENTS,Wells Fargo Bank
4,-100.00,-100.00,-95.29,-126.73,-126.73,-100.00,-100.00,11500,BS,DEBIT,ASSETS,CURRENT_ASSETS,CASH_AND_EQUIVALENTS,"Cash on Hand, Petty Cash"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,-2085.85,-2238.65,-3.77,-13.20,0.00,-756.32,34.75,91000,IS,DEBIT,OTHER_EXPENSES,UNALLOWABLE,NONE,Interest Expense
115,0.00,-105.00,0.00,0.00,0.00,0.00,0.00,91500,IS,DEBIT,OTHER_EXPENSES,UNALLOWABLE,NONE,Contributions
116,-2678.15,-3808.91,-2571.03,-4285.05,-3428.04,-3428.04,-1858.11,91700,IS,DEBIT,OTHER_EXPENSES,UNALLOWABLE,NONE,Officer Insurance
117,-1060.66,-1051.62,-208.71,-2972.67,-1323.88,-1817.90,-868.46,94000,IS,DEBIT,OTHER_EXPENSES,UNALLOWABLE,NONE,Personal Property Taxes
118,0.00,-691.13,0.00,-7.81,-54.02,0.00,-966.93,95000,IS,DEBIT,OTHER_EXPENSES,UNALLOWABLE,NONE,Misc. Unallowable Expense

In [9]:
grp = tb.groupby(AccountLevel.CATEGORY)
grp.first(2)
grp.get_group(CATEGORY.ASSETS)
a = grp.sum().iloc[:, :-6].T
# a[CATEGORY.ASSETS]

# a

In [10]:
(a[CATEGORY.REVENUE] + a[CATEGORY.COGS] + a[CATEGORY.OPERATING_EXPENSES] + a[CATEGORY.OTHER_EXPENSES])/a[CATEGORY.REVENUE]
# grp.get_group(CATEGORY.LIABILITIES)

2017-12-31    0.144987
2018-12-31    0.128829
2019-12-31    0.145744
2020-12-31    0.229212
2021-12-31    0.328672
2022-12-31    0.127389
2023-08-31    0.146273
dtype: float64

---
## Grouping by multiple categories

In [11]:
from finance_model.finance_enums import IS_BS

rows = tb[AccountLevel.IS_BS] == IS_BS.BS
tb2 = tb[rows]
tb2
# grp2 = tb.loc[,:]

,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-12-31,2022-12-31,2023-08-31,AccountLevel.ACCOUNT_NO,AccountLevel.IS_BS,AccountLevel.NORMAL_BALANCE,AccountLevel.CATEGORY,AccountLevel.SUBCATEGORY,AccountLevel.SUBCATEGORY2,AccountLevel.ACCOUNT
0,-106161.11,-132985.04,0.00,-91887.83,-195671.37,-27065.96,-1329638.38,11040,BS,DEBIT,ASSETS,CURRENT_ASSETS,CASH_AND_EQUIVALENTS,PNC Operating
1,-157.16,-578.46,-34.70,-3354.75,-2827.51,-201.03,-1198.15,11050,BS,DEBIT,ASSETS,CURRENT_ASSETS,CASH_AND_EQUIVALENTS,PNC Payroll
2,0.00,0.00,0.00,-9.86,0.00,0.00,0.00,11060,BS,DEBIT,ASSETS,CURRENT_ASSETS,CASH_AND_EQUIVALENTS,PNC Money Market
3,-1235.53,-1235.53,0.00,0.00,0.00,0.00,0.00,11100,BS,DEBIT,ASSETS,CURRENT_ASSETS,CASH_AND_EQUIVALENTS,Wells Fargo Bank
4,-100.00,-100.00,-95.29,-126.73,-126.73,-100.00,-100.00,11500,BS,DEBIT,ASSETS,CURRENT_ASSETS,CASH_AND_EQUIVALENTS,"Cash on Hand, Petty Cash"
5,0.00,0.00,-10129.24,0.00,0.00,0.00,0.00,11600,BS,DEBIT,ASSETS,CURRENT_ASSETS,CASH_AND_EQUIVALENTS,"Accounts Receivable, Other"
6,-768095.81,-783485.54,-993525.97,-1238718.48,-1173292.39,-1533534.57,-942201.02,12000,BS,DEBIT,ASSETS,CURRENT_ASSETS,ACCOUNTS_RECEIVABLE,Accounts Receivable
7,-2284.20,-4661.70,-3288.20,0.00,0.00,0.00,0.00,12050,BS,DEBIT,ASSETS,CURRENT_ASSETS,ACCOUNTS_RECEIVABLE,"Accounts Receivable, Employees"
8,0.00,0.00,0.00,0.00,0.00,0.00,0.00,12500,BS,DEBIT,ASSETS,CURRENT_ASSETS,ACCOUNTS_RECEIVABLE,Deposits & Prepaid A/R
9,-13100.00,-13100.00,-13100.00,-13100.00,-13100.00,-13100.00,-13100.00,14700,BS,DEBIT,ASSETS,LONG_TERM_ASSETS,PROPERTY_AND_EQUIPMENT,Furniture & Fixtures
10,-107787.00,-107787.00,-107787.00,-107787.00,-111809.70,-111809.70,-111809.70,15000,BS,DEBIT,ASSETS,LONG_TERM_ASSETS,PROPERTY_AND_EQUIPMENT,Machinery & Equipment
11,-43496.00,-43496.00,-43496.00,-43496.00,-43496.00,-43496.00,-43496.00,15200,BS,DEBIT,ASSETS,LONG_TERM_ASSETS,PROPERTY_AND_EQUIPMENT,Building
12,-254985.96,-215334.76,-215420.94,-215420.94,-253197.33,-253111.15,-253111.15,15700,BS,DEBIT,ASSETS,LONG_TERM_ASSETS,PROPERTY_AND_EQUIPMENT,Vehicles
13,333998.24,299526.04,328195.02,340534.20,298149.36,330161.27,332098.79,16000,BS,DEBIT,ASSETS,LONG_TERM_ASSETS,PROPERTY_AND_EQUIPMENT,Accumulated Depreciation
14,-9212.68,-106.36,-348.00,-232.00,-116.00,-377.00,-377.00,17500,BS,DEBIT,ASSETS,LONG_TERM_ASSETS,OTHER_ASSETS,Prepaid Expenses
15,-1942707.07,-1942707.07,-1942707.07,-1942707.07,-1942707.07,0.00,0.00,19200,BS,DEBIT,ASSETS,LONG_TERM_ASSETS,OTHER_ASSETS,Intangible Assets
16,1942707.07,1942707.07,1942707.07,1942707.07,1942707.07,0.00,0.00,19500,BS,DEBIT,ASSETS,LONG_TERM_ASSETS,OTHER_ASSETS,Accumulated Amortization
17,0.00,0.00,8931.79,4767.59,0.00,0.00,393362.46,20000,BS,CREDIT,LIABILITIES,CURRENT_LIABILITIES,ACCOUNTS_PAYABLE,Accounts Payable
18,0.00,0.00,23737.03,0.00,0.00,0.00,0.00,20005,BS,CREDIT,LIABILITIES,CURRENT_LIABILITIES,ACCOUNTS_PAYABLE,Negative Cash Balance
19,0.00,0.00,0.00,0.00,0.00,0.00,-1652.24,20020,BS,CREDIT,LIABILITIES,CURRENT_LIABILITIES,ACCOUNTS_PAYABLE,Accrued Accounts Payable
20,0.00,0.00,0.00,0.00,0.00,0.00,36000.00,20300,BS,CREDIT,LIABILITIES,CURRENT_LIABILITIES,ACCRUED_EXPENSES,Accrued Bonus Payable
21,15553.18,6771.88,0.00,0.00,0.00,0.00,0.00,20400,BS,CREDIT,LIABILITIES,CURRENT_LIABILITIES,OTHER_CURRENT_LIABILITIES,Notes Payable 2014 Infiniti JX
22,0.00,0.00,0.00,0.00,0.00,0.00,0.00,20500,BS,CREDIT,LIABILITIES,CURRENT_LIABILITIES,OTHER_CURRENT_LIABILITIES,Notes Payable Nat. Coop Bank
23,5291.68,0.00,0.00,0.00,0.00,0.00,0.00,20700,BS,CREDIT,LIABILITIES,CURRENT_LIABILITIES,OTHER_CURRENT_LIABILITIES,Notes Payable 2014 Transit
24,0.00,0.00,0.00,0.00,0.00,0.00,0.00,20750,BS,CREDIT,LIABILITIES,CURRENT_LIABILITIES,OTHER_CURRENT_LIABILITIES,Wells Fargo Line of Credit
25,0.00,24448.38,18695.82,12943.26,7190.70,1438.14,0.00,20800,BS,CREDIT,LIABILITIES,CURRENT_LIABILITIES,OTHER_CURRENT_LIABILITIES,Notes Payable 2018 Chrysler
26,0.00,0.00,0.00,0.00,0.00,0.00,0.00,20900,BS,CREDIT,LIABILITIES,CURRENT_LIABILITIES,OTHER_CURRENT_LIABILITIES,Payroll Protection Loan
27,133953.44,139895.15,109685.38,94395.76,87258.04,91980.11,84777.35,21000,BS,CREDIT,LIABILITIES,LONG_TERM_LIABILITIES,ACCRUED_EXPENSES,Accured PTO
28,0.00,0.00,8508.78,26239.94,25351.30,25701.71,25701.71,21050,BS,CREDIT,LIABILITIES,LONG_TERM_LIABILITIES,ACCRUED_EXPENSES,Accured Sick Leave
29,0.00,0.00,0.00,0.00,0.00,0.00,0.00,22250,BS,CREDIT,LIABILITIES,LONG_TERM_LIABILITIES,OTHER_LONG_TERM_LIABILITIES,FFCRA Tax Credit
30,0.00,0.00,0.00,0.00,0.00,0.00,0.00,22400,BS,CREDIT,LIABILITIES,LONG_TERM_LIABILITIES,OTHER_LONG_TERM_LIABILITIES,MD Unemployment
31,0.00,0.00,0.00,0.00,0.00,0.00,552.66,22550,BS,CREDIT,LIABILITIES,LONG_TERM_LIABILITIES,OTHER_LONG_TERM_LIABILITIES,AFLAC Insurance
32,0.00,0.00,0.00,0.00,0.00,0.00,0.00,22600,BS,CREDIT,LIABILITIES,LONG_TERM_LIABILITIES,OTHER_LONG_TERM_LIABILITIES,401 K Payable
33,0.00,0.00,0.00,0.00,0.00,0.00,0.00,22650,BS,CREDIT,LIABILITIES,LONG_TERM_LIABILITIES,OTHER_LONG_TERM_LIABILITIES,Employee 401 K Loan Payable
34,0.00,0.00,0.00,0.00,0.00,0.00,27500.00,23400,BS,CREDIT,LIABILITIES,LONG_TERM_LIABILITIES,OTHER_LONG_TERM_LIABILITIES,Deferred Income
35,0.00,0.00,0.00,0.00,0.00,0.00,0.00,24000,BS,CREDIT,LIABILITIES,LONG_TERM_LIABILITIES,OTHER_LONG_TERM_LIABILITIES,"Notes Payable, NCB, Long Term"
36,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,27000,BS,CREDIT,EQUITY,STOCK,NONE,Capitol Stock
37,-991112.00,-983000.00,-1187309.11,-1567621.00,-2400000.00,-1000000.00,-750000.00,27100,BS,CREDIT,EQUITY,DISTRIBUTIONS,NONE,Distributions
38,162907.10,162907.10,162907.10,162907.10,162907.10,162907.10,162907.10,27600,BS,CREDIT,EQUITY,OWNERS_EQUITY,NONE,Owners Equity
39,535506.86,653911.81,668321.84,725496.21,1070709.01,1211695.00,1369607.08,28000,BS,CREDIT,EQUITY,OWNERS_EQUITY,NONE,Retained Earnings

In [12]:

grp2 = tb2.groupby([AccountLevel.CATEGORY, AccountLevel.SUBCATEGORY, AccountLevel.SUBCATEGORY2])
grp2
# grp.get_group(CATEGORY.EQUITY)

In [ ]:
# grp2.get_group((CATEGORY.ASSETS, SUBCATEGORY.CURRENT_ASSETS))
```for cat, df in grp2:
`    print(f'cat = {cat}')
    a = df
`    break
`space = ' ' * 3
# print(a)
print(f'Assets:')
print(f"{space * 1}Current Assets")
a = grp2.get_group((CATEGORY.ASSETS, SUBCATEGORY.CURRENT_ASSETS))
a.index=a[AccountLevel.ACCOUNT]
a = a.iloc[:, :-7]
# .iloc[:, :-7]
# print(a)
# a

## Tree

In [13]:
from collections import OrderedDict, deque

class FinNode:
    def __init__(self, name):
        self.name = name
        self.children = OrderedDict()
    
    def insert_children(self, children: deque):
        if len(children) == 0:
            return
        child_name = children.popleft()
        if child_name == 'none':
            return
        if child_name in self.children.keys():
            child = self.children[child_name]
        else:
            child = FinNode(child_name)
            self.children[child_name] = child
        child.insert_children(children)
          
    def print(self, pad=''):
        print(f'{pad}{self.name}')
        for child in self.children.values():
            child.print(pad = pad + '     ')
        
top = FinNode('BS')
for cat, df in grp2:
    print(f'cat = {cat}')
    catlist = deque(cat)
    top.insert_children(catlist)
    
top.print()

cat = (<CATEGORY.ASSETS: 'assets'>, <SUBCATEGORY.CURRENT_ASSETS: 'current assets'>, <SUBCATEGORY2.ACCOUNTS_RECEIVABLE: 'accounts receivable'>)
cat = (<CATEGORY.ASSETS: 'assets'>, <SUBCATEGORY.CURRENT_ASSETS: 'current assets'>, <SUBCATEGORY2.CASH_AND_EQUIVALENTS: 'cash and equivalents'>)
cat = (<CATEGORY.ASSETS: 'assets'>, <SUBCATEGORY.LONG_TERM_ASSETS: 'long term assets'>, <SUBCATEGORY2.OTHER_ASSETS: 'other assets'>)
cat = (<CATEGORY.ASSETS: 'assets'>, <SUBCATEGORY.LONG_TERM_ASSETS: 'long term assets'>, <SUBCATEGORY2.PROPERTY_AND_EQUIPMENT: 'property and equipment'>)
cat = (<CATEGORY.EQUITY: 'equity'>, <SUBCATEGORY.DISTRIBUTIONS: 'distributions'>, <SUBCATEGORY2.NONE: 'none'>)
cat = (<CATEGORY.EQUITY: 'equity'>, <SUBCATEGORY.OWNERS_EQUITY: 'owners equity'>, <SUBCATEGORY2.NONE: 'none'>)
cat = (<CATEGORY.EQUITY: 'equity'>, <SUBCATEGORY.STOCK: 'stock'>, <SUBCATEGORY2.NONE: 'none'>)
cat = (<CATEGORY.LIABILITIES: 'liabilities'>, <SUBCATEGORY.CURRENT_LIABILITIES: 'current liabilities'>, <SUBCATEGORY2.ACCOUNTS_PAYABLE: 'accounts payable'>)
cat = (<CATEGORY.LIABILITIES: 'liabilities'>, <SUBCATEGORY.CURRENT_LIABILITIES: 'current liabilities'>, <SUBCATEGORY2.ACCRUED_EXPENSES: 'accrued expenses'>)
cat = (<CATEGORY.LIABILITIES: 'liabilities'>, <SUBCATEGORY.CURRENT_LIABILITIES: 'current liabilities'>, <SUBCATEGORY2.OTHER_CURRENT_LIABILITIES: 'other current liabilities'>)
cat = (<CATEGORY.LIABILITIES: 'liabilities'>, <SUBCATEGORY.LONG_TERM_LIABILITIES: 'long term liabilities'>, <SUBCATEGORY2.ACCRUED_EXPENSES: 'accrued expenses'>)
cat = (<CATEGORY.LIABILITIES: 'liabilities'>, <SUBCATEGORY.LONG_TERM_LIABILITIES: 'long term liabilities'>, <SUBCATEGORY2.OTHER_LONG_TERM_LIABILITIES: 'other long term liabilities'>)
BS
     ASSETS
          CURRENT_ASSETS
               ACCOUNTS_RECEIVABLE
               CASH_AND_EQUIVALENTS
          LONG_TERM_ASSETS
               OTHER_ASSETS
               PROPERTY_AND_EQUIPMENT
     EQUITY
          DISTRIBUTIONS
          OWNERS_EQUITY
          STOCK
     LIABILITIES
          CURRENT_LIABILITIES
               ACCOUNTS_PAYABLE
               ACCRUED_EXPENSES
               OTHER_CURRENT_LIABILITIES
          LONG_TERM_LIABILITIES
               ACCRUED_EXPENSES
               OTHER_LONG_TERM_LIABILITIES

## Filter transposed trial balances
### Filter by one category

In [ ]:
a = tb.loc[:,AccountLevel.CATEGORY:AccountLevel.ACCOUNT] == CATEGORY.ASSETS
b= a.sum(axis=1) == 1
tb[b]

In [22]:
rows = accounts.account_map[AccountLevel.IS_BS] == IS_BS.BS
a = accounts.account_map.loc[rows, AccountLevel.CATEGORY: AccountLevel.SUBCATEGORY2]
a.iloc[0, :].to_list()

[<CATEGORY.ASSETS: 'assets'>,
 <SUBCATEGORY.CURRENT_ASSETS: 'current assets'>,
 <SUBCATEGORY2.CASH_AND_EQUIVALENTS: 'cash and equivalents'>]

In [ ]:
tb

In [ ]:
len(tb)

In [ ]:
b == 1

In [ ]:
len(tb.columns)

---
# Groupby practice

In [ ]:
food_data = {
          "Item": ["Banana", "Cucumber", "Orange", "Tomato", "Watermelon"],
          "Type": ["Fruit", "Vegetable", "Fruit", "Vegetable", "Fruit"],
          "Price": [0.99, 1.25, 0.25, 0.33, 3.00]
        }
 
supermarket = pd.DataFrame(data = food_data)

supermarket

In [ ]:
groups = supermarket.groupby("Type")
groups

In [ ]:
groups["Price"].mean()

In [ ]:
groups.get_group("Vegetable")

In [ ]:
from enum import Enum

class cat_is(str, Enum):
    ONE = 'one'
    TWO = 'two'
    THREE = 'three'
    
class cat_bs(str, Enum):
    FOUR = 'four'
    FIVE = 'five'
    
class categoryj(cat_is, cat_bs):
    pass

In [ ]:
for i in cat_is:
    print(f'cat_is={i}')
for i in cat_bs:
    print(f'cat_bs={i}')
for i in category:
    print(f'category={i}')